.grid-container-player {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
}
.grid-hard-container-player {
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 2px;
}

.grid-cell-player {
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    /*transition: background-color 0.3s ease;*/
}

.grid-cell-player:hover {   
    /*background-color: #7c7c7c;*/
}

.grid-container-ia {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
}

.grid-hard-container-ia {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 2px;
}

.grid-cell-ia {
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
}

.grid-cell-ia:hover {
    background-color: #7c7c7c;
}

.grid-cell-occupied {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boat-name{
    color: white;
}

.game-again-btn{
    top: 80%;
    left: 10%;
    background-color: #9d552c;
    color: white;
    transition: background-color 0.3s ease;
}

.game-again-btn:hover{
    background-color: #cc703b;
}

.grid-cell-hit {
    background-color: red; /* or any visual representation for hits */
}

.grid-cell-miss {
    background-color: gray; /* or any visual representation for misses */
}

.grid-cell-untouched {
    background-color: blue; /* Adjust as needed */
}
