.grid-container-player {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
}

.grid-hard-container-player {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 2px;
}

.grid-cell-player {
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.9);
}

.grid-hard-cell-player {
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.9);
}

.grid-container-ia {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(10%, -50%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
}

.grid-hard-container-ia {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(10%, -50%);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 2px;
}

.grid-cell-ia {
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
}

.grid-hard-cell-ia {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
}

.controls {
    background-color:#f2e6bec1;
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, 50%);
}

.grid-cell-occupied {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boat-name{
    color: white;
}

.game-again-btn{
    top: 80%;
    left: 10%;
    background-color: #9d552c;
    color: white;
    transition: background-color 0.3s ease;
}

.game-again-btn:hover{
    background-color: #cc703b;
}

.grid-cell-hit {
    background-color: red; /* or any visual representation for hits */
}

.grid-cell-hit:hover {
    background-color: rgb(151, 0, 0);
}

.grid-cell-sunk {
    background-color: rgb(255, 153, 0); /* or any visual representation for hits */
}

.grid-cell-sunk:hover {
    background-color: rgb(175, 105, 0);
}

.grid-cell-miss {
    background-color: gray; /* or any visual representation for misses */
}

.grid-cell-miss:hover {
    background-color: rgb(76, 76, 76);
    opacity: 80%;
}

.grid-cell-untouched {
    background-color:  #44A7C4; /* Adjust as needed */
}

.grid-cell-untouched:hover {
    background-color: #0137fc;
    opacity: 80%;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
    display: flex;
    align-items: center; /* Align the actual modal content vertically */
    justify-content: center; /* Align the actual modal content horizontally */
}

.modal-content {
    position: relative;
    background-color: #d1d1d1;
    opacity: 0.95; /* Slightly transparent background */
    margin: auto;
    padding: 15px; /* Increased padding for better spacing */
    border: 3px solid #000;
    width: 50%; /* Adjust width here */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px; /* Rounded corners for modal */
    display: flex; /* Added for centering content */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
}

.close-btn {
    color: #000;
    position: absolute;
    top: 15px; /* Position the close button */
    right: 20px; /* Position the close button */
    font-size: 30px; /* Slightly smaller for aesthetics */
    font-weight: bold;
    background-color: transparent; /* No background color */
    border: none; /* Remove border */
    border-radius: 50%; /* Circular shape */
    padding: 0; /* Remove padding */
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    display: flex; /* Center the X symbol */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.close-btn:hover,
.close-btn:focus {
    color: #222; /* Darker color on hover/focus */
    background-color: #eee; /* Light background on hover/focus */
    cursor: pointer;
}

/* If you want to add more styling to the text */
.modal-content p {
    font-size: 50px; /* Adjust text size */
    color: #844e4e; /* Text color */
    text-align: center; /* Center the text */
    font-family: 'PiratesBlackbeard', sans-serif;
}
