@page "/PlayervsIA"
@using Battleship.Models
@inject HttpClient HttpClient

<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/grid.css">

<a href="/" class="back-btn">Menu</a>

<div class="grid-container-player" id="playerGrid">
    @for (int row = 0; row < 10; row++)
    {
        for (int col = 0; col < 10; col++)
        {
            <div class="grid-cell-player" @onclick="() => HandleCellClick("player", row, col)"></div>
        }
    }
</div>

<div class="grid-container-ia" id="iaGrid">
    @for (int row = 0; row < 10; row++)
    {
        for (int col = 0; col < 10; col++)
        {
            <div class="grid-cell-ia" @onclick="() => HandleCellClick("ia", row, col)"></div>
        }
    }
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetAsync("http://localhost:5282/StartGameAI");
        var model = await response.Content.ReadFromJsonAsync<StartGameAIResponse>();
        if (model != null)
        {
            var gameId = model.GameId;
            var playerId = model.PlayerId;
            var boatList = model.BoatList;
        }
    }

    private void HandleCellClick(string grid, int row, int col)
    {
        Console.WriteLine($"Clicked on {grid} grid at row: {row}, col: {col}");
    }
}