@page "/PlayervsIA"
@using Battleship.Models
@using System.Net.Http.Json;
@inject HttpClient HttpClient

<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/grid.css">

<a href="/" class="back-btn">Menu</a>
<!--<a href="/PlayervsIA" class="game-again-btn">New Game</a>-->

<div class="grid-container-player" id="playerGrid">
    @if (model != null)
    {
        @for (int col = 0; col < 10; col++)
        {
            for (int row = 0; row < 10; row++)
            {
                var boat = GetBoatAtPosition(model.BoatList, row, col);
                var isOccupied = boat != null;
                var clickRow=row;
                var clickCol=col;

                <div class="grid-cell-player @GetOccupiedCssClass(isOccupied)" @onclick="() => HandleCellClick(clickRow, clickCol)">
                    @if (isOccupied)
                    {
                        <span class="boat-name">@boat.Name</span>
                    }
                </div>
            }
        }
    }
</div>

<div class="grid-container-ia" id="iaGrid">
    @for (int col = 0; col < 10; col++)
    {
         for (int row = 0; row < 10; row++)
        {
            var clickRow=row;
            var clickCol=col;
            <div class="grid-cell-ia" @onclick="() => HandleCellClick(clickRow, clickCol)"></div>
        }
    }
</div>

@code
{
    private StartGameAIResponse model;
    private ShootResponse shootModel;
    private bool[,] oponentGrid = new bool[10, 10];
    private char[,] playerGrid = new char[10, 10];

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetAsync("http://localhost:5282/StartGameAI");
        model = await response.Content.ReadFromJsonAsync<StartGameAIResponse>();
        foreach (var boat in  model.BoatList)
        {
            //SetBoatOnGrid(boat, playerGrid);
        }
    }

    private async void HandleCellClick(int row, int col)
    {
        Console.WriteLine($"Clicked at row: {row}, col: {col}");
        var position = new Position(row, col);
        var jsonContent = JsonContent.Create(position);
        var response = await HttpClient.PostAsync("http://localhost:5282/Shoot", jsonContent);
        shootModel = await response.Content.ReadFromJsonAsync<ShootResponse>();
    }

    public void SetBoatOnGrid(Boat boat, GridModel grid)
    {
        var incX = boat.Facing == "E";
        for (int i = 0; i < boat.Size; i++)
        {
            if (incX)
            {
                grid.Grid[boat.Position.X + i, boat.Position.Y] = boat.Name;
            }
            else
            {
                grid.Grid[boat.Position.X, boat.Position.Y + i] = boat.Name;
            }
        }
    }

    private Boat GetBoatAtPosition(Boat[] boats, int row, int col)
    {
        return boats.FirstOrDefault(boat =>
        {
            if (boat.Facing == "E")
            {
                return boat.Position.Y == row && boat.Position.X <= col && col < boat.Position.X + boat.Size;
            }
            else if (boat.Facing == "S")
            {
                return boat.Position.X == col && boat.Position.Y <= row && row < boat.Position.Y + boat.Size;
            }
            return false;
        });
    }

    private string GetOccupiedCssClass(bool isOccupied)
    {
        return isOccupied ? "grid-cell-occupied" : string.Empty;
    }

    private string GetShotHit(bool isHitting)
    {
        return isHitting ? "gric-cell-hit" : string.Empty;
    }
}