@page "/"
@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BattleShip Game</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <a href="/" class="back-btn">Menu</a>
    <div class="container">
        <button id="newGameBtn" onclick="toggleGameOptions()">New Game</button>
            <div class="game-options" id="gameOptions">
                <a class="PvBtn" href="/PlayervsIA">🤓vs💻</a>
                <a class="PvBtn"href="/PlayervsPlayer">🤓vs🤓</a>
            </div>
        <a id="leaderboardBtn" href="/Leaderboard">Leader  Board</a>
    </div>

    <script>
        function toggleGameOptions() {
            var gameOptions = document.getElementById("gameOptions");
            if (gameOptions.style.display === "flex") { 
                gameOptions.style.display = "none";
            } else {
                gameOptions.style.display = "flex";
            }
        }
    </script>
</body>
</html>
