# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BattleShip.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored filess
/dataSources/
/dataSources.local.xml
**/bin/
**/obj/
.idea/
**/*.cache
**/*.info
**/*.gz
**/*.dll
**/*.json